<mat-card class="cc-card">
    <mat-card-header class="cc-card-header">
        <mat-card-title>Chord Name Here</mat-card-title>
    </mat-card-header>
    <div class="cc-chord-container">
        <div layout="row" class="cc-strings-mute">
            <!-- Should be x number of strings -->
            <div flex class="cc-mute-note">x</div>
            <div flex class="cc-mute-note">x</div>
            <div flex class="cc-mute-note">x</div>
            <div flex class="cc-mute-note">x</div>
            <div flex class="cc-mute-note">x</div>
            <div flex class="cc-mute-note">x</div>
        </div>
        <div layout="row" class="cc-strings-container">
            <!-- Should be x number of strings -->
            <div flex class="cc-string"></div>
            <div flex class="cc-string"></div>
            <div flex class="cc-string"></div>
            <div flex class="cc-string"></div>
            <div flex class="cc-string"></div>
            <div flex class="cc-string"></div>
        </div>
    </div>
</mat-card>
